<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title, autofocus: true %>
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, class: 'materialize-textarea' %>
</div>

<div clsas="field">
  <%= f.label :website %><br />
  <%= f.text_field :website %>
</div>

<div class="field">
  <%= f.label :authors %><br />
  <%= collection_select(:campaign, :author_ids, User.all.order(:name), :id, :name, {selected: @campaign.author_ids}, {multiple: 'multiple'}) %>
</div>

<div class="field">
  <%= f.label :editors %><br />
  <%= collection_select(:campaign, :editor_ids, User.all.order(:name), :id, :name, {selected: @campaign.editor_ids}, {multiple: 'multiple'}) %>
</div>

<div class="field">
  <%= f.label :min_player_size, "Minimum Number of Players" %><br />
  <%= f.number_field :min_player_size %>
</div>

<div class="field">
  <%= f.label :max_player_size, "Maximum Number of Players" %><br />
  <%= f.number_field :max_player_size %>
</div>

<div class="actions">
  <%= f.submit "Save" %>
</div>
