<!DOCTYPE html>
<html>
  <head>
    <title>LarpResumeSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'modules/header' %>
    <div class="container">
      <% if flash.present? %>
        <div class="flash-messages">
          <% flash.each do |type, msg| %>
            <p class="<%= type %>"><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
